body {
  background-image: url(image15.jpg);
  margin: 0;
  padding: 0;
  background-size: cover;
  margin: 0;
}
.header {
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 1px gold;
}
.photo {
  float: none;
  text-align: center;
  }
  .content {
    color: green;
    font-size: 2rem;
    font-family: 'Exo 2', sans-serif;
    text-align: center;

  }
