.mainimg {
    margin-top: 6%;
    margin-left: 15%;
}
.container {
  width:22%;
  float: right;
  margin:0 13% 0 7%;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
h1 {
font-family: 'Indie Flower', cursive;
font-size: 2rem;


}
h4,p{
color:grey;

}

.ligth-blue {
  background-color: #3897f0;
  color:white;
  border-style: none;
  border-radius: 2px;
}
input {
  margin-bottom: 3px;
   width:90%;
}

.buttonwidth {
 width:90%;

}

ul li {

  list-style-type: none;
  display: inline;
}
ul {
  margin-top: 100px;
}
